<!-- Describe task in general -->

<p> 
    В этом задании вам нужно создать функцию проверки пароля.
</p>

<p>Условиями проверки являются:</p>

<ul>
    <li>длина должна быть больше 6;</li>
    <li>должна содержать хотя бы одну цифру.</li>
</ul>


<!-- Explain input and output values -->
<p>
    <strong>Вх. данные:</strong> A {% if is_js %}string <span translate="no">(string)</span>{% else %}Строка <span translate="no">(str)</span>{% endif %}.
</p>

<p>
    <strong>Вых. данные:</strong> Логическое значение {% if is_js %}<span translate="no">(boolean)</span>{% else %}<span translate="no">(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Как используется: </strong>
    <i>Для формы проверки пароля. Также полезно узнать, как можно оценить задачу.</i>
</p>
